<p>edit-details works!</p>
<div class="form-wrapper" *ngIf="showForm" >
    <div class="mobileForm" >
      <h2 class="text-center text-info">{{formHeader}}</h2>
      <form [formGroup]="editForm">  
        <div class="group">
          <label for="name">Name</label>
           <input type="text" class="form-Control" name="name" formControlName="name" >
        </div>
        <div class="group">
          <label for="phoneNo">Email</label>
          <input type="number" class="form-Control" name="phoneNo" formControlName="phoneNo" >
        </div>
      </form>    
        <div class="action">
          <button class="btn btn-primary save" (click)="saveDetails()">Save changes</button>
          <button class="btn btn-danger cancel" (click)="closeForm()">Cancel</button>
         </div>  
    </div>
  </div>
  