<p>edit-details works!</p>
<div class="form-wrapper" >
    <div class="mobileForm" >
      <h2 class="text-center text-info">{{formHeader}}</h2>     
        <div class="group">
          <label for="userName">Name</label>
           <input type="text" class="form-Control" name="name" [(ngModel)]="name" >
        </div>
        <div class="group">
          <label for="email">Email</label>
          <input type="number" class="form-Control" name="phoneNo" [(ngModel)]="phoneNo" required>
        </div> 
        <div class="action">
          <button class="btn btn-primary save" (click)="saveMobile()">Save changes</button>
          <button class="btn btn-danger cancel" (click)="closeForm()">Cancel</button>
         </div>
  
    </div>
  </div>
  