*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.compHeader{
  font-size: 1.5rem;
  padding:1rem;
  font-weight: bold;
  margin:0.3rem;
  position: sticky;
  position: -webkit-sticky;
  background-color: #ABAEB6;
}

.divs{
  height:50rem;
  overflow:scroll;
  margin: 0rem 0rem 0rem 0.3rem;
  background-color: #F0F1F5;
}
.container{
  margin:auto;
  width:57%;
}
.SearchBar{
  display: flex;
  justify-content: flex-start;
}
.searchIcon{
  margin-top:1rem;
  font-weight: bold;
}
fieldset{
  background-color: rgb(255, 255, 255);
  border-radius:4rem;
  border:0.2rem;
  width:90%;
  display:flex;
  justify-items: flex-start;
  padding:0.5rem 1.5rem 1rem 1.5rem;
  margin:1rem 0rem 1rem 0.5rem;
}
.assignHere{
  color:blue;
}
input{
  width:80%;
  border:0;
  outline:0;
  margin-top:0.8rem;
  font-size: 1rem;
  /* background-color: rgb(219, 216, 216); */
}
.add{
  font-size:4rem;
  margin:1.8rem 0rem  0rem 2rem;
  font-size:2.5rem;
  font-weight: bold;
}
.deviceType{
  background-color: blue;
  padding:0.3rem 0.6rem 0.3rem 0.6rem;
  color:#FFFFFF;
  border-radius: 1rem;
  width:5rem;
  text-align: center;
  font-weight: bold;
  align-items: center;
}
.delete{
  font-size: 1.5rem;
  color:red;
  padding: 0.4rem;
  display: flex;
  justify-content: flex-end;
  margin-left: 3rem;
  align-items: flex-start;
  cursor: pointer;
}
img{
  padding:1rem 0rem 0rem 0rem;
  width:8rem;
  height:8rem;
}
h2{
  font-family:Poppins,sans-serif;
}
.bt_s{
    font-size: 1.5rem;
    font-weight: bold;
}
.binBtn{
  margin-left: 3rem;
  float:right;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.rows{
  width:100%;
  margin:auto;
}
label{
  margin-bottom: 0.5rem;
}
html{
  font-size:62.5%;
}

@media(max-width:768px){
  html{
    font-size:45%;
  }
}

@media(max-width:998px){
  html{
    font-size:55%;
  }
  img{
    width:6rem;
    height:6rem;
  }
}

   