
.compHeader{
  background-color: #92dde7;
  font-size: 20px;
  padding:20px;
  font-weight: bold;
}
.divs{
  height:800px;
  overflow:scroll;
  margin: 3px 0px 0px 3px;
  background-color: #c0eae5;
}
input{
    width:600px;
    height:40px;
    border:0;
    outline:0;
    background-color: rgb(255, 255, 255);
  }
  
  .add{
    font-size:40px;
    margin:15px 0px  0px 20px;
    /* color:black; */
  }
  span{
    margin-top:10px;
    font-weight: bold;
  }
  .bt_s{
      font-size: 15px;
      font-weight: bold;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  fieldset{
    background-color: rgb(255, 255, 255);
    border-radius:40px;
    border:2px;
    width:500px;
    display:flex;
    justify-items: center;
    padding:5px 30px;
    margin:10px 0px 10px 5px;
  }
  
  .row{
    width:100%;
    
  }
  
  .column {
    float: left;
    padding:10px;
    margin-top:10px 5px 5px 5px;
  }
    
    
  /* Style the counter cards */
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #f1f1f1;
  margin-bottom:10px;
  border-radius: 10px;
  }
  
  
  

   