<div class="compHeader">
  <label>Devices</label>
</div>
<div class="divs">
  <div class="row">
      <div class="column" style="background-color: #c0eae5;">
        <div style="display:flex;justify-content:flex-start;margin:5px 0px 0px 0px;">
          <fieldset>
            <span class="material-symbols-outlined">search</span>
            <input type="text" placeholder="Search for Device">
          </fieldset>
    
          <span routerLink="/admin/devices/add-device" routerLinkActive="active" class="material-symbols-outlined add" (click)="changecolor()">add</span>
            
        </div>
        <div class="col1">
          <div class="row">
            <div class="card">
              <p>Some text</p>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
        
          <div class="row">
            <div class="card">
              <h3>Card 2</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
          
          <div class="row">
            <div class="card">
              <h3>Card 3</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
          
          <div class="row">
            <div class="card">
              <h3>Card 4</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
    
          <div class="row">
            <div class="card">
              <h3>Card 1</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
          
          <div class="row">
            <div class="card">
              <h3>Card 2</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
    
          <div class="row">
            <div class="card">
              <h3>Card 4</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
    
          <div class="row">
            <div class="card">
              <h3>Card 1</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
          
          <div class="row">
            <div class="card">
              <h3>Card 2</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
    
          <div class="row">
            <div class="card">
              <h3>Card 4</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
    
          <div class="row">
            <div class="card">
              <h3>Card 1</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
          
          <div class="row">
            <div class="card">
              <h3>Card 2</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
          
          <div class="row">
            <div class="card">
              <h3>Card 2</h3>
              <p>Some text</p>
              <p>Some text</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  

  <div class="column">
    <router-outlet></router-outlet>
  </div>
</div>
  

