<div class="compHeader">
  <label>Devices</label>
</div>
<div class="divs">
  <div class="container">
    <div *ngIf="noRecordFound">
      <label class="warningText">{{text}}</label>
    </div>
    <div class="SearchBar">
      <fieldset>
        <span class="material-symbols-outlined searchIcon">search</span>
        <input type="text" placeholder="Search for Device" #searchInput (keyup)="searchMethod(searchInput.value)">
      </fieldset>

      <span routerLink="/admin/admin/devices/add-device" routerLinkActive="active" class="material-symbols-outlined add"
        (click)="post()">add</span>

    </div>
    <ng-container>
      <div class="rows" *ngFor="let devices of devicesList; let f=first; let l=last">
        <app-card>
          <div image>
            <img src={{devices?.image_url}}>
          </div>
          <h3 name><b>{{devices?.name |titlecase}}</b></h3>
          <label device class="deviceType">{{devices?.device_type}}</label>
          <label line_1>{{devices?.os | titlecase}}</label>
          <label line_2>{{devices?.device_no}}</label>
          <div *ngIf="devices?.user === null ||devices?.user=== '' else elseBlock" line_3 ><a style="color:orangered;cursor: pointer;text-decoration: underline;" (click)="getEmployeesToAssign(devices?.id)">Click here to assign</a></div>
          <ng-template #elseBlock><label class="assignHere" line_3>{{"Assigned to "+devices?.user?.name | titlecase}}</label></ng-template>
          <span clickButton class="material-symbols-outlined delete" (click)="deleteDevice(devices?.id)">delete</span>
        </app-card>
      </div>
    </ng-container>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<ng-template #err style="color: red"> error fetching data</ng-template>
<ng-confirm></ng-confirm>
