.sec{
    padding-left: 30rem;
    padding-top: 9rem;
    width:600px;
    height:1000px;
}
*{
   padding: 0;
   margin: 0px;
   box-sizing: content-box;
  }
body{
   background-color: #c0eae5;
   width:100%;
   position: fixed;
  }
.invImg{
    padding-left: 100px;
    margin-bottom: 40px;
  }
.row{
    background: white; 
    }
.col-lg-7{
    padding-left: 150px;
    margin-top: 50px; 
    }
.inputLog{
    width:300px;
    height:50px;
    margin-bottom:20px;
       }
.btn1{  
    margin:0px 0px 20px 2px;
    border:none;
    outline: none;
    height:40px;
    width:330px;
    background-color: #6563FF;
    color:white;
    font-weight: bold;
    border-radius: 10px;
   }
input.ng-touched.ng-invalid{
    border:1px solid red;
}
input.ng-touched.ng-valid{
    border:1px solid green;
}
.text-danger{
    color:red;
}
html{
    font-size: 62.5%;
}
@media(max-width: 768px){
    html{
        font-size: 45%;
    }
} 
@media(max-width: 998px){
    html{
        font-size: 55%;
    }
}