.sec{
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%
}
*{
   padding: 0;
   margin: 0;
   box-sizing: content-box;
}
body{
   background-color: #F0F1F5;
   width:100%;
   position: fixed;
   height: 100%;
   display: flex;
   flex-direction: column;
}
.invImg{
    padding: 2.5rem 0rem 0.5rem 9.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width:150;
    height:20;

}
.header{
     margin:1rem 0rem 1rem 3rem; 
}

.row{
    background: #FFFFFF; 
    border-radius: 0.3rem;
 }
.col-lg-7{
    padding-right:10rem;
    margin-top: 2.5rem; 
}
.inputLog{
    width:20rem;
    height:3rem;
    margin-bottom:1.4rem;
    padding-left: 2.8rem;
}
input{
    height:1.7rem;
}
.btn1{  
    margin:0.3rem 1rem 1rem 2.8rem;
    border:none;
    outline: none;
    height:2.5rem;
    width:21.8rem;
    background-color: #6563FF;
    color:white;
    font-weight: bold;
    border-radius: 0.7rem;
}
.errorMsg{
    padding-left: 2.8rem;
    color:red;
}
.fpName{
    margin-left: 10rem;
}
.signUpName{
    margin:0.5rem 0rem 2rem 6rem;
}
input.ng-touched.ng-invalid{
    border:0.09rem solid red;
}
.text-danger{
    color:red;
}
html{
    font-size: 62%;
}
@media(max-width: 768px){
    html{
        font-size: 45%;
    }
} 
@media(max-width: 998px){
    html{
        font-size: 55%;
    }
}