<div class="form-wrappper">
  <div class="box">
    <h2 class="header">Edit   
      <span clickButton class="material-symbols-outlined" style="color: red;" >edit</span></h2>

    <hr />
    
      <div class="addDetails">
      <form [formGroup]="editForm" class="form">
        <div class="form-group"><label for="name" >Name :</label>
          <input type="text"class="form-control" formControlName="name" required/>
          <div class="text-danger"*ngIf="editForm?.controls?.name?.touched&&  editForm?.controls?.name?.errors">
            <p class="textForErrorMSg">*Name is required</p>
          </div>
        </div>
        
        <div class="form-group"><label for="phoneNumber">Phone Number :</label>
          <input type="text"class="form-control" formControlName="phoneNo" required/>
          <div class="text-danger"*ngIf="editForm?.controls?.phoneNo?.touched&&  editForm?.controls?.phoneNo?.errors">
            <p class="textForErrorMSg">*Phone number is required </p>
          </div>
        </div>
        <button type="submit"class="btn btn-primary action" (click)="saveChanges()">Save</button>
        <button type="submit"class="btn btn-danger action"(click)="cancelChanges()">Cancel</button>
      </form>
      </div>
      
  </div>
</div>



      

