.blurDiv{
    background-color: rgba(0,0,0,0.8);
    /* padding-top: 4rem; */
    top:0;
    bottom:0;
    position:absolute;
    height:100%;
    width:100%;
    z-index: 80;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: snow;
    width:40rem;
   
    border-radius: 0.5rem;
    display:flex;
}
.container{
    background-color: snow;
    height:35rem;
}
.innerContainer{
    height:25rem;
    overflow-y: scroll;
    margin-top:2rem; 
}
.image{
    width:4rem;
    height:4rem;
    border-radius:0.5rem;
    background-color:rgb(177, 174, 174);;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color:#CBD0D7;
}
span:hover{
    color: #393b3f;
}
.btn2{
    border-radius:0.8rem;
    background-color: #fd3838;
    padding:0.5rem;
    border:0;
    border:0.1rem solid black;
    color:#FFFFFF;
    margin-bottom:5rem;

}
html{
font-size:62.5%;
}

@media(max-width:768px){
    html{
        font-size:45%;
    }
}

@media(max-width:998px){
    html{
        font-size:55%;
    }
}




