<div class="blurDiv">
    <div class="box">
        <div class="container">
            <div class="popuphead">
                <h4><u>Select an Employee to Assign</u> :</h4>
                <span class="material-symbols-outlined closeButton" (click)="canceladdDevice()">clear</span>
            </div>
            <div class="innerContainer">
                <div class="col">
                    <div class="rows" *ngFor="let employee of allEmployees; let f=first; let l=last">
                        <app-card>
                            <div image class="image">
                                <label class="employeeDp">{{employee.name.split("")[0]}}</label>
                            </div>
                            <h5 deviceName>{{employee?.name}}</h5>
                            <label device>{{employee?.emp_id}}</label>
                            <label assignedTo>{{employee?.designation}}</label>
                            <label deviceId>{{employee?.user_roles}}</label>
                            <button assignButton (click)="assignClicked(employee?.id)">Assign</button>
                            <!-- <h5 bottomMost>{{employee?.devices?.device_type |lowercase}}</h5> -->
                            <ng-container bottomMost>
                                <ng-container *ngIf="employee?.device_type  === 'laptop'">
                                    <span class="material-symbols-outlined">laptop_mac</span>
                                </ng-container>


                            </ng-container>
                        </app-card>
                    </div>
                    <!-- <span class="material-symbols-outlined">laptop_mac</span> -->
                </div>
                <!-- <div><span class="material-symbols-outlined">ev_charger</span></div>
                <div><span class="material-symbols-outlined">backpack</span></div>
                <div><span class="material-symbols-outlined">mouse</span></div>
                <div><span class="material-symbols-outlined">ev_charger</span></div> -->
            </div>
        </div>
    </div>