<div class="blurDiv">
    <div class="box">
        <div class="container">
            <div class="popuphead">
                <h3>Select an Employee to Assign :</h3>
                <span class="material-symbols-outlined closeButton" (click)="canceladdDevice()">clear</span>
            </div>
            <div class="innerContainer">
                <div class="col">
                    <div class="rows" *ngFor="let employee of allEmployees; let f=first; let l=last">
                        <app-card>
                            <div image class="image">
                                <label class="employeeDp">{{employee.name.split("")[0]}}</label>
                            </div>
                            <h5 name>{{employee?.name}}</h5>
                            <label line_1>{{employee?.emp_id}}</label>
                            <label line_2>{{employee?.designation}}</label>
                            <label line_3>{{employee?.user_roles}}</label>
                            <button clickButton (click)="assignClicked(employee?.id)"
                                class="btn btn-primary assignButton">Assign</button>
                            <div bottomMost class="devices" *ngFor="let device of employee?.devices">
                                <div class="icondiv">
                                    <span *ngIf="device?.device_type === 'Laptop'" class="material-symbols-outlined icon">laptop_mac</span>
                                    <span *ngIf="device?.device_type === 'Charger'" class="material-symbols-outlined icon">electrical_services</span>
                                    <span *ngIf="device?.device_type === 'Bag'" class="material-symbols-outlined icon">backpack</span>
                                    <span *ngIf="device?.device_type === 'Mobile'" class="material-symbols-outlined icon">phone_iphone</span>
                                    <span *ngIf="device?.device_type === 'Mouse'" class="material-symbols-outlined icon">mouse</span>
                                </div>
                            </div>
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>