  .card{
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
    background-color: #FFFFFF;
    margin-bottom:1rem;
    border-radius: 1rem; 
    height:fit-content;
    display: flex;
    justify-content: flex-start;
    font-family: sans-serif;
}
.left{
    justify-content: center;
    align-items: center;
}
.info{
  display: flex;
  justify-content: space-between;
}
.deviceCSS{
    background-color: blue;
    border-radius: 0.5rem;
    align-items: center;
 }
.right{
  display: flex;
  width:90%;
  align-items: center;
}
.content{
  width:60%;
  margin-left: 1rem;
}
.cardLayout{
  display:flex;
  margin:0.2rem;
}
.cardRightMost{
  width:35%
}
.deviceInfo{
  display:flex;
  justify-content:space-between;
}
.row1{
  display: flex;
  justify-content: flex-start;
}
 html{
  font-size:62.5%;
}
  
  @media(max-width:768px){
    html{
      font-size:45%;
    }
    .deviceInfo{
      flex-direction:column;
  }
    .right{
      flex-direction: column;
    }
    .info{
      flex-direction: column;
    }
    .card{
      flex-direction: row;
    }.cardLayout{
      flex-direction: column;
    }
    .row1{
      display: flex;
      flex-direction: column;
    }
  }

  @media(max-width:998px){
    html{
      font-size:55%;
    }
  }