.card{
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    background-color: #FFFFFF;
    margin-bottom:1rem;
    border-radius: 1rem;
    display:flex;
    justify-content: flex-start;
    height:fit-content;
}
.left{
    width:18%;
    float:left; 
    width:10rem;
    padding:auto
}
.deviceInfo{
    display: flex;
    justify-content:flex-start;
    gap:5rem;
}
.deviceCSS{
    background-color: blue;
    border-radius: 0.5rem;
    width:4.5rem;
    padding:0.3rem;
    color:white;
    display:flex;
    justify-content:center;
    padding:auto;
    /* margin-bottom:1rem; */
}
.row{
    display: flex;
    justify-content:flex-start;
    gap:5rem;
}
html{
    font-size:62.5%;
  }
  
  @media(max-width:768px){
    html{
      font-size:45%;
    }
  }

  @media(max-width:998px){
    html{
      font-size:55%;
    }
  }