
<!-- ..................card compon........ -->
    <div class="form-wrappper">
      <div class="popUp">
       <div class="card-comp">
              <app-card *ngFor="let device of unAssignedDevices">
                <div image>
                  <img src="assets\laptopimg.jpeg">
                </div>
                <h5 name>{{device?.name}}</h5>
                <label device class="deviceCSS">{{device?.device_type}}</label>
                <label deviceOS>{{device?.os}}</label>                
                <label deviceId>{{device?.device_no}}</label>
                <button  assign type="submit" class="btn btn-primary assign"(click)="assign(device)">Assign</button>
              </app-card>
          </div> 
       </div>
   </div> 

