<div class="form-wrappper">
  <div class="addEmployee">
    <h2 class="addHeader">Add Employee</h2>
    <hr />
    
      <div class="addDetails">
      <form [formGroup]="editForm" class="form">
        <div class="form-group"><label for="name">Name :</label>
          <input type="text"class="form-control"formControlName="name"required/>
          <div class="text-danger"*ngIf="editForm?.controls?.name?.touched&&  editForm?.controls?.name?.errors">
            <p class="textForErrorMSg">*Name is required</p>
          </div>
        </div>
        
        <div class="form-group"><label for="name">Phone Number :</label>
          <input type="text"class="form-control"formControlName="phoneNo"required/>
          <div class="text-danger"*ngIf="editForm?.controls?.phoneNo?.touched&&  editForm?.controls?.phoneNo?.errors">
            <p class="textForErrorMSg">*Phone number is required </p>
          </div>
        </div>
      </form>
      </div>
      
  </div>
</div>



      

