<div class="foot">
    <div class="footerInfo">
        <label>© 2022 Copyright: <font color="#2723A8">Prasthana Interns Batch-3</font></label><br>
        <label>follow us at &nbsp;</label>
        <a href="https://www.linkedin.com/company/prasthana-software-solutions-pvt-ltd/" target="_blank"><img src="assets/images/icons8-linkedin-48.png"></a>
        <a href="https://www.facebook.com/prasthanasoftwaresolutions/" target="_blank"><img src="assets/images/icons8-facebook-48.png"></a>
    </div>
    <div class="logoDiv">
        <a href="https://www.prasthana.com/" target="_blank"><img src="assets\images\originalLogo.png" class="logo"></a>
    </div>
</div>