.foot{
    height:100%;
    width:100%;
    background-color:#DDE1E9;
    font-weight: bold;
    padding:1rem;
    display:flex;
    justify-content: flex-end;
}
.logo{
    width:13rem;
}
.logoDiv{
    width:34%;
    display: flex;
    justify-content: flex-end;
}
.footerInfo{
    width:30%;
    text-align: center;
    align-items: center;
}
@media(max-width:768px){
    .foot{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}