* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.compHeader {
    background-color: #ABAEB6;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
.employee-details {
    padding-top: 10px;
    background-color: #F0F1F5;
    margin: auto;
    padding-right: 20px;
    height: 700px;
}

.name {
    font-weight: bold;
}
.dp-Det {
    width: 100px;
        height: 100px;
        background-color: rgb(244, 169, 20);
        color: white;
        justify-content: center;
        padding-top: 25px;
        border-radius: 10px;
        font-size: 35px;
        font-weight: BOLD;;
        display: flex;
        box-sizing: content-box;
}
input {
    background: none;
    outline: none;
}
small {
    display: flex;
    font-size: 15px;
}

.marginPurpose {
    margin-top: 20px
}

.devices {
    color: blue;
    display: flex;
   margin-left:8%
}
.deviceIcon {
    font-size: 1.7rem;
    gap: 0.7rem
}

.heading {
    padding-left: 23%;
    font-weight: bold;
}
.noDevices {
    color: rgb(92, 88, 88);
    margin-left: 16rem
}

.deviceHolder {
    max-height: 270px;
   
}

.card-comp {
    width: 55%;
    max-height: 280px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
   
}

img {
    height: 92px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgb(151, 145, 145);
}

.deviceLabel {
background-color: blue;
    border-radius: 20px;
    color: whitesmoke;
    height: 30%;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 10px;
}

.singleLine {
    font-weight: bold;
        font-size: 18px;
        /* width:20%; */
        /* justify-content: space-between; */
        display: flex;
    margin-right: 7%;
        /* margin-right: 30px;
        width: 20%; */
}
label {
    margin-bottom: 0px;
}

.save {
    color: green;
        padding-left: 50%;
    font-size: 32px;
    /* margin */
}
.edit {
    color: red;
    padding-left: 50%
}

@media(max-width:760px) {
    .office-details {
        flex-direction: column;
    }

    .personal-details {
        flex-direction: column;
    }

    .delete {
        flex-direction: column-reverse;
    }
    .singleLine{
        flex-direction: column-reverse;
        margin-right:0px;

    }
        .devices {
            margin-left:0px
        }
    .noDevices {
        margin-left: 0px;
    }
    
    
}