.compHeader {
    background-color: #ABAEB6;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.employee-details {
    padding-top: 10px;
    background-color: #F0F1F5;
    margin: auto;
    padding-right: 20px;
    height: 700px;
}

.name {
    font-weight: bold;
}
.dp-Det {
    width: 100px;
        height: 100px;
        background-color: rgb(244, 169, 20);
        color: white;
        justify-content: center;
        padding-top: 25px;
        border-radius: 10px;
        font-size: 35px;
        font-weight: BOLD;;
        display: flex;
        box-sizing: content-box;
}
input {
    background: none;
    outline: none;
  
    /* border: none; */
}

small {
    display: flex;
    font-size: 18px;
}

.marginPurpose {
    margin-top: 20px
}

.div-icons {
    color: blue;
    display: flex;
    /* width:5%;
    padding-left:50px */

}

.heading {
    padding-left: 23%;
}

.deviceHolder {
    max-height: 270px;
    overflow-y: scroll;
}

.card-comp {
    width: 55%;
    max-height: 280px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

img {
    height: 92px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgb(151, 145, 145);
}

.deviceLabel {
    background-color: blue;
    border-radius: 20px;
    color: whitesmoke;
    height: 30%;
    padding-left: 7px;
    padding-right: 7px;
}

.singleLine {
    font-weight: bold;
        font-size: 18px;
        justify-content: space-between;
        display: flex;
        width: 30%;
}
label {
    margin-bottom: 0px;
}

.save {
    color: green;
    padding-left: 150px;
    font-size: 40px;
    /* margin */
}
.edit {
    color: red;
    padding-left: 150px
}
::-webkit-scrollbar {
    display: none;
}

@media(max-width:850px) {
    .office-details {
        flex-direction: column;
    }

    .personal-details {
        flex-direction: column;
    }

    .delete {
        flex-direction: column-reverse;
    }
}