.sec{
    padding-top: 35px;
    margin: auto;
    width:550px;
}
*{
   padding: 0;
   margin: 0px;
   box-sizing: content-box;
}
body{
    background-color: #c0eae5;
    width:100%;
    height:100%;
    position: fixed;
}
.invImg{
    padding-left: 200px;
    margin:30px 0px 10px 0px;
}
.heading{
    font-weight: 700;
    padding-left:230px;
    margin:15px 0px 30px 0px;
    color:#403df9;
}
.row{
    background: white;
    border-radius: 5px;
}
.col-lg-7{
    padding-left: 20px;
    margin-top: 20px; 
}
.inputSignUp{
    width:400px;
    height:50px;
    padding-left:55px ;
    margin-bottom:25px;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input{
    margin-left: 0px;
}
.textForErrorMSg{
    font-size: 15px;
}
.btn1{
    margin:30px 0px 20px 160px;
    border:none;
    outline: none;
    height:40px;
    width:250px;
    background-color: #6563FF;
    color:white;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
}
.backtologin{
    padding-left:220px;
}
.dropDown{
    width:425px;
    padding-left:55px;
    height:50px;
}
input.ng-touched.ng-invalid{
    border:1px solid red;
}
input.ng-touched.ng-valid{
    border:1px solid green;
}
.text-danger{
    color:red;
}
