<div class="blurDiv">
  <div class="box">
    <section>
      <h1>Add Device</h1>
    </section>
    <div class="container">
      <div class="row">
        <div class="formdiv">
          <form [formGroup]="addDevice">
              <label for="name"> Device Name</label><br>
              <input type="text" placeholder=" Device Name" class="form-control" name="name" required><br>

              <label for="deviceType">Device Type</label><br>
              <input type="text" placeholder="Device Type" class="form-control" name="deviceType" required><br>

              <label for="os">OS</label><br>
              <input type="text" placeholder="OS" class="form-control removescroll" name="os"><br>

              <label for="serviceTag">Device Id</label><br>
              <input type="text" placeholder="Device Id" class="form-control" name="serviceTag" required><br>

              <label for="assignedTo">Assigned To</label><br>
              <input type="text" placeholder="Employee Id" class="form-control" name="assignedId"><br>
              
              <button type="button" class="btn1" (click)="submitAddDevice()"> Add Device</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="addemployee"  style="margin-left: 10px;">
  <h2 style="text-align:center;color:rgb(128, 128, 237)">Add Employee</h2>
  <hr>
  <p style="text-align:center;">Enter  details to add employee with his provided devices</p>
  
   <div class="adddetails">

<form  class="form">
  <div class="form-group">
  <label for="name"> Name : </label>
  <input type="text" class="form-control col-8" placeholder="Enter employee name">
  </div>

  <div class="form-group">
  <label for="email"> Email : </label>
  <input type="email" class="form-control col-8" placeholder="Enter email">
  </div>

  <div class="form-group">
  <label for="name"> Designation : </label>
  <input type="text" class="form-control col-8" placeholder="  Enter employee Designation">
  </div>

  <div class="form-group">
  <label for="name"> Phone Number : </label>
  <input type="text" class="form-control col-8" placeholder="enter mobile number">
  </div> -->
<!-- 
  <div class="form-group">
  <label for="name"> EMP ID : </label>
  <input type="text" class="form-control col-8" placeholder=" ex.  EMP-001">
  </div> -->

  <!-- <div class="form-group">
  <label for="name"> Role : </label>
  <select class="form-control col-8" >
  <option value="selected"> Select Employee Role</option>
  <option value="1">Employee</option>
  <option value="2">Admin</option>
  </select>
  </div>

 <div >
   <button type="button" class="btn btn-primary" style="margin-left:20px ;">Add Employee</button>
   <button type="button" class="btn btn-danger" style="margin-left: 200px;" >Cancel</button>
 </div>

</form>
   </div>  
</div> -->