
  .compHeader{
    background-color: #92dde7;
    font-size: 20px;
    padding:20px;
    font-weight: bold;
  }
  .divs{
    height:800px;
    overflow:scroll;
    /* margin: 3px 0px 0px 3px; */
    background-color: #c0eae5;
  }
    
    .column {
      float: left;
      width:50%;
      padding:10px;
      /* margin:10px 5px 5px 5px; */
      background-color:#aaa;
    }
      
      
    /* Style the counter cards */
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
    margin-bottom:10px;
    border-radius: 10px;
    }
    
    
    
  
     