<div class="compHeader">
    <label>Approvals</label>
</div>
<div class="divs">
    <div class="row">
        <div class="column">
            <div class="row">
            <div class="card">
                <p>Some text</p>
                <p>Some text</p>
                <p>Some text</p>
            </div>
            </div>
        
            <div class="row">
            <div class="card">
                <h3>Card 2</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
            </div>
        </div>
    </div>
    <div class="column">
        <router-outlet></router-outlet>
      </div>
</div>