
    <div class="compHeader">
      <label>Employees</label>
    </div>

    <div class="employee">
   <div class="emp-list" *ngIf="employees; else err">
        <div class="search-add">
          <fieldset>
            <span class="material-symbols-outlined">search</span>
            <input
              type="text"
              placeholder="Search for Employee"
              class="searchBox"
            />
          </fieldset>

          <div class="add" (click)="addEmployee()">
            <span class="material-symbols-outlined addSymbol">person_add</span>
          </div>
        </div>

        <div class="emp" *ngFor="let employee of employees">
          <div class="dp">
            {{employee.name.split(" ")[0][0] + employee.name.split(" ")[1][0]}}
          </div>

          <div class="details">
            <h5>{{employee.name}}</h5>
            <div class="singleline">
              <ul class="list">
                <li>
                 <small class="text">{{ employee.id }}</small>
                </li>
                <li style="margin-left: 30px">
                  <small>{{ employee.designation}}</small>
                </li>
              </ul>

              <div class="devices">
                <div>
                  <span class="material-symbols-outlined">laptop_mac</span>
                </div>
                <div>
                  <span class="material-symbols-outlined">ev_charger</span>
                </div>
                <div>
                  <span class="material-symbols-outlined hello">backpack</span>
                </div>
                <div>
                  <span class="material-symbols-outlined hello">mouse</span>
                </div>
              </div>
            </div>
          </div>
          <div (click)="empDetailView(employee)">
            <span class="material-symbols-outlined detailview" >arrow_forward_ios</span>
          </div>
        </div>
      </div>
    </div>
    <ng-template #err style="color: red"> error fetching data</ng-template>
<router-outlet></router-outlet>
