
.componentHeader {
    background-color:#ABAEB6;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
.employeesHolder {
    background-color:#F0F1F5;
    margin:auto;
    padding-top:20px;
    height: 700px;
    overflow-y: scroll;
}
.employees {
 margin: auto;
  width: 55%;
}
.search-add{
    display: flex;
    margin-bottom: 12px;
}
.searchBox{
    width: 200px;
    border: 0;
    outline: 0;
    background-color: white;
    margin-left: 20px;
    height: 30px;
    font-size: 15px;
    padding-top: 5px;
}
fieldset {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    width: 690px;
    display: flex;
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search {
    margin-right: 5px;
    margin-left: 25px;
    padding-top: 5px;
}
.addSymbol {
   justify-content: center;
    display: flex;
    margin-left:15px;
    font-size: 40px;
}
.dp {
    width: 85px;
    height: 80px;
    background-color: rgb(244, 169, 20);
    color: white;
    justify-content: center;
    padding-top: 10%;
    border-radius: 10px;
    font-size: 35px;
    display: flex;
}
.name{
font-weight: bold
}
label{
width: 40%;
padding-top: 10px
}
.devices {
    color: blue;
    display: flex;
    padding-left: 10px;
    padding-top: 13px;
    justify-content: flex-end;
}
.detailview{
   justify-content: center;
   margin-top: 15px;
}
.arrowSymbol{
    margin-left: 100px;
    padding-top: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(184, 184, 194);
}
@media(max-width:850px){
    .singleline {
            flex-direction: row;
        }
        .hello {
            display: none;      
        }
        .devices{
            width: fit-content;
            margin: 0%; 
            padding: 2px; 
        }
        .dp{
            width:40
            0px;
            margin-left: 4px;
            margin-right: 4px;
        }
}