.sec{
    padding-top: 4rem;
    margin: auto;
    width:33rem;
}
*{
   padding: 0rem;
   margin: 0rem;
   box-sizing: content-box;
}
.body{
    /* background-color: #F0F1F5; */
    width:100%;
    height:100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}
.colorBack{
    background-color: #F0F1F5;
}
.blurBack{
    background-color: rgba(0,0,0,0.8);
}
.invImg{
    padding-left: 13rem;
    margin:2rem 0rem 0.5rem 0rem;
    width:150;
    height:20;
}
.heading{
    font-weight: 700;
    display: flex;
    justify-content: center;
     margin:1rem 0rem 1.5rem 0rem; 
    color:#6562fc;
}
.closeButton{
    margin-left:10rem;
    margin-top:1rem;
    font-size: 2rem;
    color:red;
    font-weight: bold;
}
.errorMsg{
    padding-left: 3.4rem;
    margin-bottom: 1rem;
    color:red;
}
.row{
    background: #FFFFFF;
    border-radius: 0.3rem;
}
.col-lg-7{
    padding-left: 2rem;
    margin-top: 1.3rem; 
}
.inputSignUp{
    width:25rem;
    padding-left:3.5rem ;
    margin-bottom:1.8rem;
}
input::-webkit-inner-spin-button {
    -webkit-appearance:none;
}
input{
    margin-left: 0rem;
    height:1.7rem;
}
.textForErrorMSg{
    font-size: 1rem;
}
.btn1{
    margin:1.5rem 0px 1rem 7rem;
    border:none;
    outline: none;
    height:2.5rem;
    width:18rem;
    background-color: #6563FF;
    color:white;
    font-weight: bold;
    border-radius: 1rem;
    text-decoration: none;
}
.backtologin{
    padding-left:13rem;
}
.dropDown{
    width:26.8rem;
    padding-left:3.4rem;
    height:3rem;
}
input.ng-touched.ng-invalid{
    border:1px solid red;
}
.text-danger{
    color:red;
}
@media(max-width: 768px){
    html{
        font-size: 45%;
    }
} 
@media(max-width: 998px){
    html{
        font-size: 55%;
    }
}
