* {
    box-sizing: border-box;
  }
  
  /* Header/logo Title */
  .header {
    padding: 0.5rem;
    text-align: center;
    background-color:#DDE1E9;
    color:#393b3f;
    margin-bottom: 0.2rem;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 2.5rem;
  }
  
  /* Column container */
  .nav {  
    display: -ms-flexbox;
    display: flex;
  }
  

  .side {
    width:7rem;
    background-color: #CBD0D7;
    /* padding: 1rem; */
    text-align:center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display:block;
  }

  span{
    font-size: 2rem;
    color:#393b3f;
    font-weight:bold;
  }
  .iconDiv{
    margin-bottom: 2rem;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    padding: 1rem;
  }
  .iconDiv:hover{
    background-color:#d8d8d8;
    /* border-radius: 0.5rem; */
    
  }
  a{
    color:black;
    text-decoration-line: none;
    font-weight: bold;
  }
.iconDiv.active{
    background: white;
    /* border-radius:0.5rem;  */
    /* border-right: #393b3f; */
    border-right: 0.2rem solid #393b3f;
}
  
/* Main column */
.main {   
  -ms-flex: 92%;
  flex: 50%;
  /* height:85rem; */
  background-color: #F0F1F5;
}
html{
  font-size:62.5%;
}

@media(max-width:768px){
  html{
    font-size:45%;
  }
}

@media(max-width:998px){
  html{
    font-size:55%;
  }
}