* {
    box-sizing: border-box;
  }
  
  
  /* Header/logo Title */
  .header {
    padding: 20px;
    text-align: center;
    background-color: #c0eae5;
    color:#6563ff;
    margin-bottom: 2px;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  

  .side {
    width:8%;
    background-color: #c0eae5;
    padding: 10px;
    text-align:center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display:block;
  }

  span{
    font-size: 40px;
  }
  .iconDiv{
    margin-bottom: 20px;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
  }
  .iconDiv:hover{
    background-color:#d8d8d8;
    border-radius: 5px;
    
  }
  a{
    color:black;
    text-decoration-line: none;
  }
.iconDiv.active{
    background: white;
    border-radius:5px;
}
  
/* Main column */
.main {   
  -ms-flex: 92%;
  flex: 92%;
  background-color: white;
}
