.sec{
    padding-left: 430px;
    padding-top: 100px;
    width:600px;
    height:800px;
   }
*{
   padding: 0;
   margin: 0px;
   box-sizing: content-box;
  }
body{
   background-color: #b3f1ea;
   width:100%;
   position: fixed;
  }
.invImg{
    padding: 20px 0px 50px 100px;
  
  }
  .material-symbols-outlined{
    font-size: 90px;
    color:#6563FF;
   padding-left: 120px;
   padding-bottom: 20px;
  }
.row{
    background: white; 
    }
.col-lg-7{
    padding-left: 140px;
    margin-top: 50px; 
    }
.inputLog{
    width:300px;
    height:50px;
    margin-bottom:20px;
       }
.btn1{
    margin-left: 2px;
    margin-bottom: 20px;
    border:none;
    outline: none;
    height:40px;
    width:330px;
    background-color: #5452ff;
    color:white;
    font-weight: bold;
    border-radius: 10px;
   }
   .backtologin{
    padding-left:120px;
    margin-bottom:120px;
   }