.sec{
    padding-left: 30rem;
    padding-top: 7.8rem;
    width:32rem;
    height:80rem;
}
*{
   padding: 0rem;
   margin: 0rem;
   box-sizing: content-box;
}
body{
   background-color: #F0F1F5;
   width:100%;
   height:100%;
   position: fixed;
   display:flex;
   flex-direction: column;
}
.invImg{

   padding: 2rem 0rem 2rem 13rem;
   width:150;
   height:20;
}
.material-symbols-outlined{
   font-size: 6rem;
   color:#6563FF;
   padding:0rem 0rem 1.25rem 13.5rem;
}
.heading{
  padding-left: 5.2rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.row{
   background: #FFFFFF; 
}
.inputReset{
   width:20rem;
   height:3rem;
   margin-bottom:2.1rem;
   padding-left: 5rem;
}
input{
   height:1.7rem;
   margin-top: 1.2rem;
}
.btn1{
   margin:0rem 0rem 0.5rem 5.2rem;
   border:none;
   outline: none;
   height:2.5rem;
   width:21.4rem;
   background-color: #5452ff;
   color:white;
   font-weight: bold;
   border-radius: 0.6rem;
}
.my-color{
   background-color: rgba(167, 166, 218, 0.936);
}
.errorMsg{
  padding-left: 5rem;
  color:red;
}
.backtologin{
   padding-left:12.8rem;
}
html{
   font-size: 62.5%;
}
@media(max-width: 768px){
    html{
        font-size: 45%;
    }
} 
@media(max-width: 998px){
    html{
        font-size: 55%;
    }
}