<!-- employee details -->

<div class="compHeader">
    <label >Your Profile</label>
  </div>
  
  <div class="employee-details">
     <div class="card-comp ">
      <app-card class="card-component">
        <div image class="dp-Det">{{ employeeData.name.split("")[0] }}</div>
        <h3 name class="name">{{ employeeData?.name }}</h3>
        <small email>{{ employeeData?.email }}</small>
        <small phoneNo>{{ employeeData?.phone_number }}</small>
        <span deleteSymbol class="material-symbols-outlined delete" (click)="editEmployee()">edit</span>
        <div marginPurpose class=""></div>
        <span empId class="bold">{{ employeeData?.emp_id }}</span>
        <small empIdLabel>Employee ID</small>
        <span designation class="bold">{{ employeeData?.designation }}</span>
        <small designationLabel>Designation </small>
        <div deviceSymbols  class="div-icons"*ngFor="let device of employeeData?.devices">
        <span style="display:flex " *ngIf="device?.device_type||device?.name === 'Laptop'" class="material-symbols-outlined">laptop_mac</span>
        <span style="display:flex"*ngIf="device?.device_type||device?.name  === 'Charger'" class="material-symbols-outlined">ev_charger</span>
        <span style="display:flex" *ngIf="device?.device_type||device?.name  === 'Bag'" class="material-symbols-outlined">backpack</span>
        <span style="display:flex" *ngIf="device?.device_type||device?.name  === 'Mobile'" class="material-symbols-outlined">phone_iphone</span>
        <!-- <span style="display:flex"*ngIf="device?.id"> No devices assigned</span> -->
      </div>     
        <small deviceLabel>Devices </small>
      </app-card>
    </div>
    <!-- ..........Devices Assigned..... -->
    <h4 class="dev-ass-heading">Devices Assigned</h4>
    <div class="card-comp">
      <app-card *ngFor="let device of employeeData?.devices">
        <div image> <img src="assets\laptopimg.jpeg" /></div>
        <h3 name>{{device?.device_type}}</h3>
        <label device class="deviceCSS">{{device?.name}}</label>
        <label deviceOS>{{device?.os}}</label>
        <label deviceId>{{device?.device_no}}</label>
      </app-card>
    </div>
  </div>
  <router-outlet></router-outlet>
