<!-- employee details -->

<div class="componentHeader">
  <label>Employee Details</label>
</div>

<div class="details_holder">
   <div class="details">
    <app-card >
      <div image class="dp">{{ employeeData.name.split("")[0] }}</div>
      <h3 name class="name">{{ employeeData?.name | titlecase}}</h3>
      <small line_1>{{ employeeData?.email }}</small>
      <small line_2>{{ employeeData?.phone_number }}</small>
      <span clickButton class="material-symbols-outlined delete" (click)="deleteEmployee()">delete</span>
      <div marginPurpose class=""></div>
      <span empId class="singleLine">{{ employeeData?.emp_id }}</span>
      <span designation class="singleLine">{{ employeeData?.designation }}</span>

     <div marginPurpose class="marginPurpose"></div>
       <div deviceSymbols class="device-icons flex" *ngFor="let device of employeeData?.devices">
      <span *ngIf="device?.device_type === 'Laptop'||device?.device_type === 'laptop'" class="material-symbols-outlined">laptop_mac</span>
      <span *ngIf="device?.device_type === 'Charger'||device?.device_type === 'charger'" class="material-symbols-outlined">electrical_services</span>
      <span *ngIf="device?.device_type === 'Bag'||device?.device_type === 'bag'" class="material-symbols-outlined">backpack</span>
      <span *ngIf="device?.device_type === 'Mobile'||device?.device_type === 'mobile'" class="material-symbols-outlined">phone_iphone</span>
      <span *ngIf="device?.device_type === 'Mouse'||device?.device_type === 'mouse'" class="material-symbols-outlined">mouse</span>
    </div>
    </app-card>
  </div>
 <!-- ..........Devices Assigned..... -->
  <h4 class="heading">Devices Assigned</h4>
   <div  class="deviceHolder">
  <div class="details">
    <app-card *ngFor="let device of employeeData?.devices">
      <div image> <img src={{device?.image_url}} /></div>
      <h3 name>{{device?.device_type}}</h3>
      <label device class="deviceCSS">{{device?.name}}</label>
      <label deviceOS>{{device?.os}}</label>
      <label deviceId>{{device?.device_no}}</label>
      <span deleteSymbol class="material-symbols-outlined" (click)="unAssignDevice_delete(device?.id )">delete</span>
    </app-card>
  </div>
</div>
  <div>
    <button type="button" class="btn btn-primary button" (click)="addDevice()">Assign Device</button>
  </div>
</div>

<app-unassigned-devices [_id]="employeeId" (hasDevices)="unassignDevicesList($event)" *ngIf="hasDevicesForm"></app-unassigned-devices>

<router-outlet></router-outlet>
