.employeedetails {
    width: 630px;
    border: 2px solid black;
    padding-top: 10px;
    background-color: rgba(214, 210, 210, 0.362);
    /* padding-bottom: 30px; */
    margin-left: 15px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 590px;
    scroll-behavior: smooth;
}

.det {
    width: 580px;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 170px;
    border-radius: 20px;
    padding: 15px;
}

.dpDet {
    width: 70px;
    height: 63px;
    background-color: rgb(244, 169, 20);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 35px;
    margin-left: 15px;
}

.personaldet {
    display: flex;
    margin-bottom: 15px;
}

.officedet {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

}

.devassgn {

    display: flex;
    width: 560px;
    background-color: #c4f7f7;
    margin: 18px;
    border-radius: 20px;
    padding-top: 10px;
}

.divname {
    background-color: blue;
    border-radius: 20px;
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -20px;
    margin-left: 15px;


}

::-webkit-scrollbar {
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: blue;
}

::-webkit-scrollbar-track {
    background-color: rgb(184, 184, 194);
}