<div class="wholePage">
  <div class="cont">
      <div class="first">
        <a href="https://www.prasthana.com/" target="_blank"><img src="assets\images\originalLogo.png" class="logo" alt="Prasthana"></a>
      </div>
      <div class="second">
        <h1>Inventory Management System</h1>
      </div>
      <div class="third">
        <span class="material-symbols-outlined logout" (click)="logout()">logout</span>
      </div>
  </div>  

  <div class="nav">
    <div class="side">
      <div class="iconDiv" routerLink="/admin/admin/employees" routerLinkActive="active"><span class="material-symbols-outlined">group</span><br/>
        <a>Employees</a>
      </div>
      <div
        class="iconDiv"
        routerLink="/admin/admin/devices"
        routerLinkActive="active">
        <span class="material-symbols-outlined">devices</span><br />
        <a>Devices</a>
      </div>
      <div
        class="iconDiv"
        routerLink="/admin/admin/approvals"
        routerLinkActive="active">
        <span class="material-symbols-outlined">checklist</span><br />
        <a>Approvals</a>
      </div>
      <div
        class="iconDiv"
        routerLink="profile"
        routerLinkActive="active"
      >

  
        <span class="material-symbols-outlined">person</span><br />
        <a>Profile</a>
      </div>
    </div>  
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>
<!-- <footer>
  <app-footer></app-footer>
</footer> -->
<ng-confirm></ng-confirm>
