* {
    box-sizing: border-box;
  }
  .wholePage{
    overflow-y: hidden;
  }
  /* Header/logo Title */
  .header {
    background-color:#DDE1E9;
    margin-bottom: 0.2rem;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    /* gap:37rem; */
  }
  .cont{
    width:100%;
    display: flex;
  }
  .first{
    background-color:#DDE1E9;
    width:25%;
    padding:1rem;
  }
  .second{
    background-color:#DDE1E9;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:1rem;

  }
  .third{
    background-color:#DDE1E9;
    width:25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:0rem 2rem 0rem 2rem;
    padding:1rem;

  }
  .subHeader{
    display: flex;
  }
  .logout{
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1.7rem;
  }
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 2.5rem;
  }
  
  /* Column container */
  .nav {  
    display: -ms-flexbox;
    display: flex;
  }
  .side {
    width:7rem;
    background-color: #CBD0D7;
    /* padding: 1rem; */
    text-align:center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display:block;
  }

  span{
    font-size: 2rem;
    color:#393b3f;
    font-weight:bold;
  }
  .iconDiv{
    margin-bottom: 2rem;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    padding: 1rem;
  }
  .iconDiv:hover{
    background-color:#d8d8d8;    
  }
  a{
    color:black;
    text-decoration-line: none;
    font-weight: bold;
  }
.iconDiv.active{
    background: white;
    border-right: 0.2rem solid #393b3f;
}
.main {   
  -ms-flex: 92%;
  flex: 50%;
  height:56rem;
  background-color: #F0F1F5;
  /* overflow-y: scroll; */
}
html{
  font-size:62.5%;
}

@media(max-width:768px){
  html{
    font-size:45%;
  }
  header{
    gap:2rem;
    flex-direction: row;
  }
  /* .side{
    width:2rem;
  } */
  /* span{
    font-size: 2rem;
  } */
  /* a{
    font-size:1rem;
  } */
}

@media(max-width:998px){
  html{
    font-size:55%;
  }
  /* .side{
    width:6rem;
  } */
  /* span{
    font-size: 1rem;
  } */
  /* a{
    font-size:0.5rem;
  } */
}
@media(max-width:998px){
  header{
    gap:20rem;
  }
}