<div class="blurDiv">
  <div class="box">
    <h1>Add Device</h1>
    <hr>
    <div class="container">
      <!-- <div class="row"> -->
        <div class="formdiv">
          <form [formGroup]="addDeviceBody">

            <label for="name"> Device Name</label><br>
            <div class="form-group">
              <input type="text" placeholder=" Device Name" class="form-control" formControlName="name" required><br>
              <div class="text-danger"
                *ngIf="addDeviceBody?.controls?.name?.touched && addDeviceBody?.controls?.name?.errors">
                <p class="textForErrorMSg">*Device Name is required</p>
              </div>
            </div>

            <label for="deviceType">Device Type</label><br>
            <div class="form-group">
              <input type="text" placeholder="Device Type" class="form-control" formControlName="deviceType"
                required><br>
              <div class="text-danger"
                *ngIf="addDeviceBody?.controls?.deviceType?.touched && addDeviceBody?.controls?.deviceType?.errors">
                <p class="textForErrorMSg">*Device type is required</p>
              </div>
            </div>

            <label for="os">OS</label><br>
            <div class="form-group">
              <input type="text" placeholder="OS" class="form-control removescroll" formControlName="os"><br>
            </div>

            <label for="assignedTo">Assigned To</label><br>
            <div class="form-group">
              <input type="number" placeholder="Employee Id" class="form-control" formControlName="user_id" (click)="employeeGet()">
            </div>

            <div class="buttonDiv">
              <button type="button" class="btn1" (click)="submitAddDevice()"> Add Device</button>
              <button type="button" class="btn2" (click)="canceladdDevice()"> Cancel</button>
            </div>


          </form>
        </div>
      <!-- </div> -->
      <ng-template #err style="color: red"> error fetching data</ng-template>
    </div>
  </div>
</div>