
<!-- employee details -->

<div class="compHeader">
  <label>Your Profile</label>
</div>

<div class="employee-details">
   <div class="card-comp ">
    <app-card class="card-component">
      <div image class="dp-Det">{{ employeeData.name.split("")[0] }}</div>
      <h3 name class="name">{{ employeeData?.name }}</h3>
      <small email>{{ employeeData?.email }}</small>
      <small phoneNo>{{ employeeData?.phone_number }}</small>
      <span deleteSymbol class="material-symbols-outlined delete" (click)="editProfile()">edit</span>
      <div marginPurpose class=""></div>
      <span empId class="bold">{{ employeeData?.emp_id }}</span>
      <small empIdLabel>Employee ID</small>
      <span designation class="bold">{{ employeeData?.designation }}</span>
      <small designationLabel>Designation </small>

     <div marginPurpose class="marginPurpose"></div>
       <div deviceSymbols  class="div-icons flex"*ngFor="let device of employeeData?.devices">
      <span style="display:flex" *ngIf="device?.device_type === 'Laptop'|| device?.device_type ==='laptop'" class="material-symbols-outlined">laptop_mac</span>
      <span style="display:flex" *ngIf="device?.device_type === 'Charger'|| device?.device_type ==='charger'" class="material-symbols-outlined">ev_charger</span>
      <span style="display:flex" *ngIf="device?.device_type === 'Bag'|| device?.device_type ==='bag'" class="material-symbols-outlined">backpack</span>
      <span style="display:flex" *ngIf="device?.device_type === 'Mobile'|| device?.device_type ==='mobile'" class="material-symbols-outlined">phone_iphone</span>
      <span style="display:flex" *ngIf="device?.device_type === 'Mouse'|| device?.device_type ==='mouse'" class="material-symbols-outlined">mouse</span>
      <!-- <span style="display:flex"*ngIf="!device?.id"> No devices assigned</span> -->
      </div> 
      <small deviceLabel>Devices </small>
    </app-card>
  </div>
  <!-- ..........Devices Assigned..... -->
  <h4 class="dev-ass-heading">Devices Assigned</h4>
   <div  class="deviceHolder">
  <div class="card-comp">
    <app-card *ngFor="let device of employeeData?.devices">
      <div image> <img src="assets\laptopimg.jpeg" /></div>
      <h3 name>{{device?.name}}</h3>
      <label device class="deviceCSS">{{device?.device_type}}</label>
      <label deviceOS>{{device?.os}}</label>
      <label deviceId>{{device?.device_no}}</label>
    </app-card>
  </div>
</div>
 </div>

<!-- <app-unassigned-devices [sendEmpId]="employeeId" (un_assigned_devices)="hasDev($event)" *ngIf="unAssignedDevicesList"></app-unassigned-devices> -->
<app-edit-profile [adminId]="id"></app-edit-profile>
<router-outlet></router-outlet>
 