<div class="compHeader">
    <label>Approvals</label>
</div>
<div class="divs">
    <div class="container">
                <div *ngIf="noRecordFound">
                    <label class="warningText">{{text}}</label>
                </div>
        <ng-container *ngFor="let employee of approvalList">
                <app-card style="width:5rem;">
                    <div image class="image">
                        <label class="displayPicture">{{employee.name.split("")[0]}}</label>
                    </div>
                    <h5 name>{{employee?.name}}</h5>
                    <label line_1>{{employee?.emp_id}}</label>
                    <div line_3 class="buttondiv">
                        <button class=buttons (click)="acceptEmp(employee?.id)"><label class="labels">Accept</label></button>
                        <button class=buttons (click)="rejectEmp(employee?.id)"><label class="labels">Reject</label></button>
                    </div>
                </app-card>
        </ng-container>
    </div>
</div>